<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" routerLink="/home">PCY Webshop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/products" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Termékek</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Rólunk</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/cart" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Kosár</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Bejelentkezés</a></li>
                <li class="nav-item me-2"><a class="nav-link" routerLink="/signup" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Regisztráció</a></li>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </ul>
        </div>
    </div>
</nav>